<html>
    <head>
        <title>Video chat</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="app">
            <loading v-if="state === 'loading'"></loading>
            <login-form v-else-if="state === 'login'" class="row" @click-login="connect" v-bind:stream="stream" ></login-form>
            <div v-else-if="state === 'connected'" >
                <connect-to-room v-bind:rooms="rooms" @room-selected="on_room_selected"  ></connect-to-room>
                <create-room v-if="allow_streaming" @create-room="on_room_create"></create-room>
                <div v-else> You cannot create rooms because you have not allowed the use of camera and/or microphone. </div>
            </div>
            <streaming v-if="state === 'streaming'" v-bind:room="current_room" v-bind:stream="stream" v-bind:peers_count="peers_count" v-bind:messages="messages" v-bind:broadcast_message="send_message_streamer" @leave-room="leave_room" ></streaming>
            <watch v-if="state === 'watch'" v-bind:room="current_room" v-bind:stream="remote_stream"  v-bind:messages="messages" v-bind:send_message="send_message" @leave-room="leave_room" ></watch>
        </div>
        <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="components/loading.js"></script>
        <script src="components/loginForm.js"></script>
        <script src="components/connectTo.js"></script>
        <script src="components/createRoom.js"></script>
        <script src="components/streaming.js"></script>
        <script src="components/watch.js"></script>
        <script src="components/chat.js"></script>
        <script src="index.js"></script>
    </body>
</html>